spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:mysql://localhost:3306/whatsapp_clone?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: ashok
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

app:
  jwt-secret: YWHx2ms0eGJhYlN6TkJqbENBblUyTktWbEZka3NaNElvNkliZlJ3czZ1skhqbdjqw
  jwt-expiration-milliseconds: 86400000   # 1 day

server:
  port: 8081

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
